html {
	font-family: Verdana sans-serif;
}
body {
	color: whitesmoke;
	background-color: #333;
	font-size: medium;
}
form {
	color: #444;
}
a,
a:focus,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.nav-link.active {
	color: #00e300;
}
label {
	display: block;
	font-weight: normal;
	margin-bottom: 0;
}

.panel {
	color: #333;
	margin-bottom: 1em;
	font-size: 0.8em;
	padding: 0.2em;
	width: 100%;
}
.panel .service-info {
	padding: 0.5em;
}
.panel-body {
	padding: 0.5em;
}
.panel .money {
	padding: 0 0.5em;
	background: #00b500;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 1px 0 #005a00;
	font-weight: bold;
}
.alarm-word {
	color: red;
	font-weight: bold;
}
.sweet-word {
	color: #00b500;
	font-weight: bold;
}
